html, body {
    height: 100%;
    margin: 0;
    background-color: gray;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen {
    background-color: black;
    display: block;
}